<div class="row">
  <strong>Vitalparameter</strong>
  <div *ngIf="vitalzeichen"  class="col-sm-6  fadeInUp col-md-offset-3" data-wow-delay="0.3s">
    <table class="table" class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Systol</th>
        <th scope="col">Diastol</th>
        <th scope="col">Puls</th>
        <th scope="col">T°</th>
        <th scope="col">Zucker</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let zeichen of vitalzeichen; let i = index">
        <td >{{zeichen.datum}}</td>
        <td>{{zeichen.systolisch}}</td>
        <td>{{zeichen.diastolisch}}</td>
        <td>{{zeichen.puls}}</td>
        <td>{{zeichen.temperatur}}</td>
        <td>{{zeichen.zucker}}</td>
        <td><button type="button" class="btn btn-info" (click)="loadVitalzeichenToEdit(i)">Edit</button> </td>
        <td><button type="button" class="btn btn-danger" (click)="deleteVitalzeichen(i)">Delete</button></td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="onNew()" >New</button>
    </div>
    <br>
  </div>
  <div class="updateitem"  *ngIf="showNew"  >
    <br>
    <form [formGroup]="vitalparamForm" (ngSubmit)="onSave()" >
      <div class="form-group row">
        <label for="puls-input" class="col-sm-2 col-form-label">Puls</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="puls"  type="text"  [(ngModel)]="zeichen.puls" name="puls">
        </div>
      </div>
      <div class="form-group row">
        <label for="systolisch-input" class="col-sm-2 col-form-label">Systolisch</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="systolisch"  type="text" [(ngModel)]="zeichen.systolisch" name="systolisch">
        </div>
      </div>
      <div class="form-group row">
        <label for="diastolisch-input" class="col-sm-2 col-form-label">Diastolisch</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="diastolisch"  type="text" [(ngModel)]="zeichen.diastolisch" name="diastolisch">
        </div>
      </div>
      <!--<input class="form-control" type="hidden" [(ngModel)]="zeichen.diastolisch" name="diastolisch">-->
      <button type="submit"  class="btn btn-success">{{submitType}}</button>
      <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </form>
  </div>
  <div>
  </div>
</div>
