<header class="clearfix indent">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="navbar-brand navbar-brand_"><a ><img src={{logo}} alt="logo" style="height: 50%"></a></h1>
        <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
          <ul class="nav sf-menu clearfix">
            <li><a pageScroll href="#ueberuns">Über uns</a></li>
            <li><a pageScroll href="#patienten">Apotheken</a></li>
            <li><a pageScroll href="#karte">Karte</a></li>
            <li><a pageScroll href="#jobs">Jobs</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
