<div class="row">
  <div *ngFor="let patient of patienten" class="col-lg-4 col-md-4 col-sm-4  fadeInUp" data-wow-delay="0.3s">
    <strong>{{patient.name}} </strong>
    <p>{{patient.description}}</p>
    <a  [routerLink]="['/patient',patient.id,patient.fallnr,'']" class="btn-default btn3">Auswählen</a>
    <!--<a  [routerLink]="['/patient',patient.fallnr,patient.careTeam[0].name]" class="btn-default btn3">Auswählen</a>-->
    <!--<a  [routerLink]="['/patient',patient.fallnr]" class="btn-default btn3">Auswählen</a>-->
  </div>
</div>


