<div class="row">
<strong>Patientenliste</strong>
<div  class="col-md-6  fadeInUp col-md-offset-3" data-wow-delay="0.3s">
  <table class="table table-bordered">
    <thead>
    <tr style="background-color: #4cae4c;color: white">
      <th  scope="col">Name</th>
      <th scope="col">Fallnr</th>
      <th scope="col">gebDatum</th>
      <th scope="col">krankenkasse</th>
      <th scope="col">geschlecht</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patienten">
      <td>{{patient.name}}</td>
      <td>{{patient.fallnr}}</td>
      <td>{{patient.gebDatum}}</td>
      <td>{{patient.krankenkasse}}</td>
      <td>{{patient.geschlecht}}</td>
      <td *ngIf="patient.id =='1'"> <a  [routerLink]="['/patient',patient.id,patient.fallnr,'hsa']" class="btn-default btn3">Auswählen</a></td>
      <td *ngIf="patient.id =='2'"> <a  [routerLink]="['/patient',patient.id,patient.fallnr,'sgm']" class="btn-default btn3">Auswählen</a></td>
      <td *ngIf="patient.id =='3'"> <a  [routerLink]="['/patient',patient.id,patient.fallnr,'fdl']" class="btn-default btn3">Auswählen</a></td>
      <td *ngIf="patient.id =='4'"> <a  [routerLink]="['/patient',patient.id,patient.fallnr,'taz']" class="btn-default btn3">Auswählen</a></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
