
<div *ngIf="patient&&epd">
  <app-patient-header
    [logo]="patient"> </app-patient-header>
  <div class="thumb-box2" id="ueberuns">
    <p class="title wow fadeInUp">{{patient.title}}</p>
  </div>
  <div class="thumb-box3">
    <div class="container">
      <app-patient-stammdaten
        [patient]="patient"></app-patient-stammdaten>
    </div>
  </div>


  <div class="thumb-box3" id="vitalparameter">
    <div class="container">
      <app-patient-vitalparameter
        [vitalzeichen]="patient.vitalparameter"></app-patient-vitalparameter>
    </div>
  </div>

  <div class="stellar-section">
    <div class="thumb-box1" data-stellar-background-ratio="0.3" [ngStyle]="{ 'background-image': getBackground(1)}" >
      <div class="container" style="height:50px">
      </div>
    </div>
  </div>
  <div class="thumb-box3" id="erkrankungen">
    <div class="container">
      <app-patient-krankheiten
        [krankheiten]="patient.erkrankungen">
      </app-patient-krankheiten>
    </div>
  </div>

  <div class="stellar-section">
    <div class="thumb-box1" data-stellar-background-ratio="0.5" [ngStyle]="{ 'background-image': getBackground(0)}">
      <div class="container" style="height:50px">
      </div>
    </div>
  </div>

  <div class="thumb-box3" id="medikament">
    <div class="container">
      <app-patient-medikament-list
        [medikament]="patient.medikamente"></app-patient-medikament-list>
    </div>
  </div>

  <div class="stellar-section">
    <div class="thumb-box1" data-stellar-background-ratio="0.5" [ngStyle]="{ 'background-image': getBackground(1)}">
      <div class="container" style="height:50px">
      </div>
    </div>
  </div>

  <div class="thumb-box3" id="zugriffprotokoll">
    <div class="container">
      <app-patient-zugriffsprotokoll
        [protokoll]="patient.zugriffsprotokoll">
      </app-patient-zugriffsprotokoll>
    </div>
  </div>
  <app-region-footer [epd]="epd"></app-region-footer>
</div>

