
<div *ngIf="patient&&isAdmin || patient&&isPflege || patient&&isVisitor">
  <app-patient-header
    [logo]="patient"> </app-patient-header>
  <div class="thumb-box2" id="ueberuns">
    <p class="title fadeInUp">{{patient.name}}</p>
  </div>
  <div class="thumb-box3">
    <div class="container">
      <app-patient-stammdaten
        [patient]="patient"></app-patient-stammdaten>
    </div>
  </div>


  <div class="thumb-box3" id="vitalparameter">
    <div class="container">
      <app-patient-vitalparameter
        [vitalzeichen]="vitalparameter"></app-patient-vitalparameter>
    </div>
  </div>

  <div class="stellar-section">
    <div class="thumb-box1" data-stellar-background-ratio="0.3" [ngStyle]="{ 'background-image': getBackground('1')}" >
      <div class="container" style="height:50px">
      </div>
    </div>
  </div>

  <div class="thumb-box3" id="medikament">
    <div class="container">
      <app-patient-medikament-list
        [medikamente]="medikamente"></app-patient-medikament-list>
    </div>
  </div>
  <div class="stellar-section">
    <div class="thumb-box1" data-stellar-background-ratio="0.5" [ngStyle]="{ 'background-image': getBackground('1')}">
      <div class="container" style="height:50px">
      </div>
    </div>
  </div>

  <div class="thumb-box3" id="erkrankungen">
    <div class="container">
      <app-patient-krankheiten
        [diagnose]="diagnose">
      </app-patient-krankheiten>
    </div>
  </div>

  <div class="stellar-section">
    <div class="thumb-box1" data-stellar-background-ratio="0.5" [ngStyle]="{ 'background-image': getBackground('1')}">
      <div class="container" style="height:50px">
      </div>
    </div>
  </div>

  <div class="thumb-box3" id="zugriffprotokoll">
    <div class="container">
      <app-patient-zugriffsprotokoll
        [protokoll]="protokoll">
      </app-patient-zugriffsprotokoll>
    </div>
  </div>
  <app-region-footer [patient]="patient"></app-region-footer>
</div>

