<header class="clearfix indent">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
          <ul class="nav sf-menu clearfix">
            <li><a pageScroll href="#vitalparameter">Vitalzeichen</a></li>
            <li><a pageScroll href="#medikament">Medikamente</a></li>
            <li><a pageScroll href="#erkrankungen">Diagnose</a></li>
            <li *ngIf="isAdmin"><a pageScroll href="#zugriffprotokoll">Protokoll</a></li>
          </ul>
        </nav>
      </div>
      <div ><h5 style="align-content: left">angemeldete Benutzer: {{angemUser}}</h5></div>
    </div>
  </div>
</header>


