<header class="clearfix indent">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <!--<h1 class="navbar-brand navbar-brand_"><a><img src={{logo.url}} alt="logo" width="50px" height="150px"></a></h1>-->
        <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
          <ul class="nav sf-menu clearfix">
            <li><a pageScroll href="#vitalparameter">Vitalparameter</a></li>
            <li><a pageScroll href="#medikament">Medikamente</a></li>
            <li><a pageScroll href="#erkrankungen">Krankheiten</a></li>
            <li><a pageScroll href="#zugriffprotokoll">Protokoll</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>


