
$thumb-box2-background-image-start: #f97f01;
$thumb-box2-background-image-end: #f97f01;
$color-nav-tm-navbar-sf-menu-li-a: #f97f16;
$color-global-nav-li-a-button: #f97f01;
$color-filter-global: '#ff991b1e';

$navigate-to_color: #f97f01;

$btn-default-btn4-color-top: #bb2f33;
$btn-default-btn4-color-bottom: #9c1619;

$btn-default-btn1-color-hover: #57a405;
$btn-default-btn1-color-hover-end: #408c03;

$thumb-box3-strong-after: #f97f01;
//$color-nav-tm-navbar-sf-menu-li-a: #871416;
//navbar navbar-default navbar-static-top tm_navbar clearfix
