<div *ngIf="!patienten">Unbekannte EPD.  </div>

<div *ngIf="patienten">
  <!--<app-patient-header [logo]="epd.logoUrl"></app-patient-header>-->

  <div class="content">
    <div class="thumb-box2" id="ueberuns">
      <div class="container">
        <app-region-description [epd]="patienten"></app-region-description>
      </div>
    </div>
    <div class="thumb-box3" id="patienten">
      <div class="container">
        <app-patienten-list [patienten]="patienten"></app-patienten-list>
      </div>
    </div>

    <div class="stellar-section">
      <div class="thumb-box1" data-stellar-background-ratio="0.3" [ngStyle]="{ 'background-image': getBackground('1')}" >
        <div class="container" style="height:100px">
        </div>
      </div>
    </div>

  </div>
  <app-region-footer [patient]="patienten"></app-region-footer>
</div>
<!--</div>-->
