<div class="row">
  <strong>Krankheiten</strong>
  <div  col-md-6 wow data-wow-delay="0.3s">
    <div class="thumb-pad2-1 col-sm-4 ">
      <div class="thumbnail">
        <div class="caption">
          <strong>Hauptdiagnose</strong>
          <p>{{krankheiten.hauptdiagnose}}</p>
        </div>
      </div>
    </div>
    <div class="thumb-pad2-1 col-sm-4 ">
      <div class="thumbnail">
        <div class="caption">
          <strong>Nebendiagnose</strong>
          <p>{{krankheiten.nebendiagnose}}</p>
        </div>
      </div>
    </div>
    <div class="thumb-pad2-1 col-sm-4 ">
      <div class="thumbnail">
        <div class="caption">
          <strong>Besonderheiten</strong>
          <p>{{krankheiten.besonderheiten}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
