<div class="row">
  <strong>Krankheiten</strong>
  <div *ngFor="let diagn of diagnose" col-md-6 wow data-wow-delay="0.3s">
    <div class="thumb-pad2-1 col-sm-4 ">
      <div class="thumbnail">
        <div class="caption">
          <strong>Hauptdiagnose</strong>
          <p>{{diagn.hauptdiagnose}}</p>
        </div>
      </div>
    </div>
    <div class="thumb-pad2-1 col-sm-4 ">
      <div class="thumbnail">
        <div class="caption">
          <strong>Nebendiagnose</strong>
          <p>{{diagn.nebendiagnose}}</p>
        </div>
      </div>
    </div>
    <div class="thumb-pad2-1 col-sm-4 ">
      <div class="thumbnail">
        <div class="caption">
          <strong>Besonderheiten</strong>
          <p>{{diagn.besonderheiten}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
