<footer style="background-color: #393d3d">
  <div class="container">
    <div >
      <div class="row">
        <strong><img src="../assets/medical/doctor2.jpg" alt="logo" width="150px"></strong>
      </div>
      <a style="color: #f9b009" href="" > Zurück zur EPD </a>
      <!--<a style="color: #f9b009" href="" *ngIf="epd.patienten.length>1"> {{epd.title}} </a>-->
     <!--<a style="color: #f9b009" href="" *ngIf="epd.patienten.length==1"> {{epd.title}} </a>-->
      <!--<div class="row">-->
        <!--<ul class="list3">-->
          <!--<li *ngFor="let pat of patient"><a  [routerLink]="['/patient',pat.fallnr]">{{pat.title}}</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</footer>
